:root {
  --colorPrincipal: #455a64;
  --colorLight: #718792;
  --colorDark: #1c313a;
  --colorWhite: #fff;
  --colorGrey: #eceff1;
  --fontFamily: "Open Sans", sans-serif;
  --fontRegular: 400;
  --fontBold: 700;
}

html {
  box-sizing: border-box;
  font-size: 64%; /* 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--fontFamily);
  color: var(--colorPrincipal);
  background-color: var(--colorWhite);
  display: grid;
  grid-template-areas:
    "nav"
    "filter"
    "products"
    "footer";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--colorPrincipal);
}

p {
  padding: 0;
  margin: 0;
  font-family: var(--fontPrincipals);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-primary {
  background-color: var(--colorPrincipal);
  color: var(--colorWhite);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  transition: all 200ms ease;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}

.btn-primary:hover {
  background-color: var(--colorDark);
}

.btn-primary:active {
  opacity: 0.75;
}

.nav {
  grid-area: nav;
  background-color: var(--colorPrincipal);
  color: var(--colorWhite);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.nav .nav__navTitulo {
  display: flex;
  align-items: center;
}

.nav .nav__navTitulo .nav__navTitulo--imgTituloWrapper {
  width: 2rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .nav__navHamburguer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .nav__navHamburguer .nav__navTitulo--imgHamburguerWrapper {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  grid-area: filter;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--colorGrey);
}

.filter label {
  margin-bottom: 1rem;
}

.filter select {
  border: 1px solid var(--colorLight);
  width: 50%;
  padding: 1rem 0;
  border-radius: 0.3rem;
  color: var(--colorDark);
}

.products {
  grid-area: products;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.products .products__card {
  border: 1px solid var(--colorDark);
  border-radius: 0.3rem;
  width: 90%;
  box-shadow: 2px 2px 10px 1px rgba(28, 49, 58, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.products .products__card .products__card--cardWrapper {
  width: 100%;
  margin-bottom: 2rem;
}

.products .products__card .products__card--cardWrapper img {
  width: 100%;
}

.products .products__card h2 {
  font-weight: var(--fontBold);
  font-size: 2rem;
}

.products .products__card p {
  text-align: center;
  margin: 1rem 0;
  width: 80%;
}

.products .products__pagination {
  margin: 2rem 0;
}

.products .products__pagination .products__paginationWrapper {
  display: flex;
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperChevron {
  width: 1rem;
  border: 1px solid var(--colorLight);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperChevron:nth-child(1) {
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperChevron:nth-child(5) {
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperChevron:hover {
  background-color: var(--colorGrey);
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperChevron:active {
  opacity: 0.75;
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperChevron
  img {
  width: 1rem;
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperNumber {
  border: 1px solid var(--colorLight);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperNumber:hover {
  background-color: var(--colorGrey);
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperNumber:active {
  opacity: 0.75;
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperNumber:nth-child(2) {
  border-left: none;
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperNumber:nth-child(3) {
  border-left: none;
}

.products
  .products__pagination
  .products__paginationWrapper
  .products__paginationWrapper--icoWrapperNumber:nth-child(4) {
  border-left: none;
  border-right: none;
}

.footer {
  grid-area: footer;
  background-color: var(--colorPrincipal);
  padding: 1rem 0;
}

.footer .footer__rrssWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer .footer__rrssWrapper img {
  width: 2rem;
  margin-right: 1rem;
}

.footer .footer__rrssWrapper img:last-child {
  margin-right: 0;
}

.footer p {
  color: var(--colorWhite);
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1rem;
}
